body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #00000067;
  }
  
  .home {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  