ul {
  list-style: none;
  padding: 0;
}

.categoria-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  text-align: left;
  border: none;
  background-color: #c23118;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoria-btn:hover {
  background-color: #cc0000;
}

.sidebar {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  height: 100%;
  position: fixed;
  left: -250px;
  transition: left 0.3s ease-in-out;
  color: #fff;
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

.toggle-btn {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  padding: 8px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


