.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.categoria-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  text-align: left;
  border: none;
  background-color: #c23118;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoria-btn:hover {
  background-color: #cc0000;
}
